@import "tailwindcss";

@theme {
  --font-vietnam: "Be Vietnam Pro", sans-serif;

  --color-primary: #1b1d1f;
  --color-secondary: #282b30;
  --color-highlight: #4e80ee;
  --color-accent-secondary: #6c727f;
  --color-accent-light: #d2d5da;

  --breakpoint-md: 412px;
  --breakpoint-lg: 1024px;
}

@layer base {
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

  select {
    appearance: none;
    -webkit-appearance: none; /* For WebKit browsers */
    -moz-appearance: none; /* For Mozilla browsers */
  }

  #status input {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #status span {
    @apply border-accent-light grid size-5 place-content-center rounded-xs border-2;

    & > * {
      @apply hidden;
    }
  }

  #status input:checked ~ span {
    @apply bg-highlight border-highlight;

    & > * {
      @apply block;
    }
  }
}
